.parentConatainer {
  height: 365px;
  width: 54%;
  margin: 0 auto;
  padding: 2px;
  display: flex;
  position: relative;
}
.slides {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.slider {
  width: 100%;
  height: 100%;
}
.sliderButtonPrev {
  display: flex;
  align-items: center;
  position: absolute;
  left: 21px;
  top: 39%;
  font-size: 56px;
  color: beige;
  cursor: pointer;
}
.sliderButtonNext {
  display: flex;
  align-items: center;
  position: absolute;
  top: 39%;
  right: 21px;
  font-size: 56px;
  color: beige;
  cursor: pointer;
}
.dots span {
  font-size: 83px;
  cursor: pointer;
}
.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  position: relative;
  top: -79px;
  color: blueviolet;

}
.conatiner {
  position: relative;
}
